body {
    font: 16px Arial, sans-serif;   
}

.navbar {
    background-color: #9fe0ba;
}
.quem-nos-somos {
    background-color: rgba(77, 144, 231, 0.548);
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.Amigos{
    background-color: #3c91e0;
}


.bg-footer{
    background-color: #3b3c4d;
    
}